body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 100vh;
}
.sidebar img {
    height: 100;
    width: 200px;
    margin-bottom: 50px;

}
.sidebar h1 {
    font-size: 24px;
    margin: 0;
}
.sidebar p {
    font-size: 12px;
    margin: 5px 0 20px;
}
.sidebar a {
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.sidebar a.active {
    background-color: #d32f2f;
}
.sidebar a:hover {
    background-color: #444;
}
.sidebar .logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 10px;
}
.header input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
}
.header .user-icon {
    font-size: 24px;
   
}
.content {
    margin-top: 20px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}
.content h2 {
    margin: 0 0 20px;
    color: #3f3f3f;
}
.lockers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.locker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}
.locker.red {
    background-color: #d32f2f;
}
.locker.black {
    background-color: #000;
}