*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.sidebar img.logo {
    width: 100%;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #D00C0C;
    padding: 10px;
    border-radius: 90px;
    display: block;
    text-align: center;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #D00C0C;
}

.logout a {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    padding: 10px;
    border-radius: 90px;
    text-align: center;
    display: block;
}

main {
    flex: 1;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 24px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 500px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid;
    outline: none;
    font-size: 16px;
}

.search button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.usuario{
    height: 40px;
    border-radius: 50%;
    width: 50px;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.card-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.card-content {
    display: flex;
    justify-content: space-between;
}

.info {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    height: 110px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}

.info h4 {
    font-size: 16px;
    margin-bottom: 10px;

}

.info p {
    font-size: 24px;
    font-weight: bold;
}

/* Responsividade */
@media (min-width: 768px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
